@keyframes float {
    from {
        top: 0;
    }
    to {
        top: -1rem;
    }
}

.blob {
    transition: all 1s cubic-bezier(0.8, -0.1, 0.2, 1.1);
    
    position: relative;
    animation: float 2s linear infinite alternate;
    /* animation-timing-function: ease-in-out; */
    /* animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1); */
}

.blob.state-1 {
  background-color: #f00;
  border-radius: 1rem;
  transform: rotate(90deg);
}

.blob.state-2 {
  background-color: #0f0;
  border-radius: 4rem;
  transform: rotate(270deg);
}

.blob.state-3 {
  background-color: #00f;
  border-radius: 2rem;
  transform: rotate(360deg);
}

button {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

button:active {
    transform: scale(0.99);
    transition-duration: 100ms;
}