html,
body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

.blob {
  background: #eee;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
}

button {
  all: unset;
  background: #6056ff;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.75em;
  padding: 1em 1.5em;
  cursor: pointer;
}
